// colors
$color-blue-main: #3734a9;
$color-white: #ffffff;
$color-button-primary: #ff7f5c;
$color-button-secondary: #3734a9;
$color-button-green: #22d497;

//color hover
$color-primary-hover: #f7592d;
$color-secondary-hover: #5552b3;
//shadow

$drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//fonts

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

//font sizes
$section-title-large: 5rem;
$section-description-large: 1.8rem;

$section-title-medium: 3.5rem;
$section-description-medium: 1.6rem;

$section-title-small: 2.5rem;
//padding
$large-section-padding: 6rem;
$medium-section-padding: 3rem;
$small-section-padding: 1.5rem;
