//imports
@import './variables';
@import './mixins';
//reset
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Manrope', sans-serif;
}

//navigation
.navbar {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	padding: 1rem 0;
	width: 100vw;
	box-shadow: $drop-shadow;
	background: #1488cc;
	background: linear-gradient(to right, #2b32b2, #1488cc);
	z-index: 100;
	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;

		@include section-wrapper;
		.navbar__logo {
			font-size: 3rem;
			font-weight: 700;
			color: $color-white;
		}
		.navbar__menu {
			display: flex;
			gap: 2rem;
			list-style: none;

			.navbar__menu-item {
				font-size: 2rem;

				.navbar__menu-item-link {
					color: $color-white;
					font-weight: $font-regular;
					text-decoration: none;
				}
			}
			.navbar__burger-menu-close {
				display: none;
			}
		}
		.navbar__burger-menu {
			display: none;
		}
		.navbar__registration {
			display: flex;
			align-items: center;
			gap: 2rem;
			.navbar__registration-link {
				font-size: 2rem;
				text-decoration: none;
				font-weight: $font-regular;
				color: $color-white;
			}
			.navbar__registration-button {
				@include primary-button($bgc-color: $color-button-primary, $shadow-color: $drop-shadow);
			}
			.navbar__registration-button:hover {
				@include button-hover($color-primary-hover);
			}
		}
	}
}

//smallscreen navigation
@media (max-width: 768px) {
	.navbar {
		padding: 0.2rem 0;
		.navbar__container {
			justify-content: space-between;
			.navbar__logo {
				font-size: 2rem;
				margin-left: 2rem;
			}
			.navbar__menu {
				position: fixed;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 8rem;
				top: 0;
				height: 100vh;
				width: 100vw;
				background: #1488cc;
				background: linear-gradient(to right, #2b32b2, #1488cc);
				transform: translateX(-110%);
				transition: 0.3s;
				z-index: 100;
				.navbar__menu-item {
					font-size: 3rem;
				}
				.navbar__burger-menu-close {
					position: fixed;
					display: flex;
					padding: 1.5rem;
					top: 2rem;
					right: 2rem;
					font-size: 4rem;
					color: $color-white;
				}
			}
			.navbar__active {
				transform: translateX(0);
			}
			.navbar__burger-menu {
				display: flex;
				padding: 1.5rem;
				font-size: 3rem;
				color: $color-white;
			}
			.navbar__registration {
				display: none;
			}
		}
	}
}
.nav-items-animation {
	animation: navItemsAnimation 1.1s both;
}
@keyframes navItemsAnimation {
	from {
		transform: translateX(-200%);
	}
	to {
		transform: translateX(0);
	}
}

//section header
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	padding: 10rem;
	height: 100vh;
	width: 100%;
	background: #1488cc;
	background: linear-gradient(to right, #2b32b2, #1488cc);
	@include section-wrapper;

	&__text {
		display: flex;
		flex-direction: column;
		color: $color-white;
		text-align: center;
		gap: 5rem;

		h1 {
			font-size: 6rem;
			text-shadow: $drop-shadow;
		}
		h2 {
			font-size: 2rem;
			font-weight: $font-light;
			text-shadow: $drop-shadow;
		}
	}
	&__button-group {
		display: flex;
		align-items: center;
		gap: 2rem;
		&-start {
			@include primary-button($color-button-primary, $shadow-color: $drop-shadow);
		}
		&-start:hover {
			@include button-hover($color-primary-hover);
		}
		&-play {
			@include play-button;
		}
		&-play:hover {
			background-color: #1ab65b;
		}
		&-text {
			color: $color-white;
			font-size: 2rem;
			text-shadow: $drop-shadow;
		}
	}
}

@media (max-width: 768px) {
	.header {
		padding: 4rem;

		&__text {
			h1 {
				font-size: 4rem;
			}
			h2 {
				font-size: 2rem;
			}
		}
	}
}
@media (max-width: 576px) {
	.header {
		gap: 2rem;

		&__text {
			gap: 1rem;
			h1 {
				font-size: 2.5rem;
			}
			h2 {
				font-size: 1.6rem;
			}
		}
		&__button-group {
			flex-direction: column;
			&-start {
				font-size: 1.5rem;
			}
			&-play {
				@include play-button-small;
			}
			&-text {
				font-size: 1.5rem;
			}
		}
	}
}

//section feature

.features {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: $large-section-padding;
	// height: 100vh;
	// width: 100%;
	@include section-wrapper;
	&-content {
		display: flex;
		align-items: center;
		// height: 100%;
		.features__img {
			order: 1;
			min-width: 50%;
			img {
				width: 100%;
			}
		}
		.features__text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 4rem;
			height: 100%;
			// width: 100%;
			padding-bottom: 5rem;
			h4 {
				color: $color-blue-main;
				font-weight: $font-bold;
				font-size: $section-description-large;
			}
			&-title {
				font-weight: $font-bold;
				font-size: $section-title-large;
			}
			&-description {
				text-align: justify;
				font-size: $section-description-large;
			}
			&-button {
				@include primary-button($color-button-secondary, $drop-shadow);
				text-align: center;
				width: 30%;
			}
			&-button:hover {
				@include button-hover($color-secondary-hover);
			}
		}
	}
}
@media (max-width: 1200px) {
	.features {
		padding: $medium-section-padding;

		&-content {
			.features__text {
				gap: 3rem;
				h4 {
					font-size: $section-description-large;
				}
				&-title {
					font-size: $section-title-medium;
				}
				&-description {
					font-size: $section-description-medium;
				}
				&-button {
					font-size: 1.5rem;
					width: 35%;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.features {
		padding: $small-section-padding;
		&-content {
			flex-direction: column;
			.features__img {
				order: 0;
				width: 100%;
			}
			.features__text {
				align-items: center;
				text-align: center;

				h4 {
					font-size: $section-description-large;
				}
				&-title {
					font-size: $section-title-small;
				}
				&-description {
					font-size: $section-description-medium;
				}
				&-button {
					width: 60%;
				}
			}
		}
	}
}

//section payments
.payments {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: $large-section-padding;
	@include section-wrapper;
	&-content {
		display: flex;
		align-items: center;
		.payments__img {
			min-width: 50%;
			max-width: 64rem;

			img {
				width: 100%;
			}
		}
		.payments__text {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			padding-bottom: 5rem;
			h4 {
				color: $color-blue-main;
				font-weight: $font-bold;
				font-size: $section-description-large;
			}
			&-title {
				font-size: $section-title-large;
				font-weight: $font-bold;
			}
			&-description {
				font-size: $section-description-large;
				text-align: justify;
			}
			&-button {
				@include primary-button($color-button-secondary, $drop-shadow);
				text-align: center;
				width: 30%;
			}
			&-button:hover {
				@include button-hover($color-secondary-hover);
			}
		}
	}
}
@media (max-width: 1200px) {
	.payments {
		padding: $medium-section-padding;
		&-content {
			.payments__text {
				gap: 3rem;
				h4 {
					font-size: $section-description-large;
				}
				&-title {
					font-weight: $font-bold;
					font-size: $section-title-medium;
				}
				&-description {
					font-size: $section-description-medium;
				}
				&-button {
					font-size: 1.5rem;
					width: 35%;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.payments {
		padding: $small-section-padding;
		&-content {
			flex-direction: column;
			.payments__img {
				width: 100%;
			}
			.payments__text {
				align-items: center;
				text-align: center;

				h4 {
					font-size: $section-description-large;
				}
				&-title {
					font-size: $section-title-small;
				}
				&-description {
					font-size: $section-description-medium;
				}
				&-button {
					width: 60%;
				}
			}
		}
	}
}

//section details
.details {
	padding: $large-section-padding;
	background: #1488cc;
	background: linear-gradient(to right, #2b32b2, #1488cc);
	@include section-wrapper;
	&-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		.details__title {
			text-align: center;
			grid-column: 1/3;
			padding-bottom: 8rem;
			color: $color-white;
			font-size: $section-title-large;
			text-shadow: $drop-shadow;
		}
		.details__rules {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 2rem;

			.details__rule {
				display: flex;
				align-items: center;
				gap: 2rem;

				&-circle {
					position: relative;
					display: grid;
					place-items: center;
					width: 100%;
					max-width: 100px;
					border-radius: 50%;
					color: white;
					text-align: center;
					aspect-ratio: 1 / 1;
					background-color: #2a2f99;
					box-shadow: $drop-shadow;
					&--number {
						color: $color-white;
						font-size: $section-title-large;
					}
				}

				&-text {
					color: $color-white;
					h4 {
						font-size: 2.6rem;
					}
					p {
						font-weight: $font-light;
						color: #a0b3e9;
						font-size: 1.8rem;
					}
				}
			}
		}
		.details__film {
			place-self: center;
			position: relative;
			width: 100%;
			video {
				width: 100%;
			}
		}
		.details__film::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			opacity: 0.55;
		}
		.details__film::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-image: url('../img/film-frame2.svg');
			background-position: center;
			background-size: cover;
		}
		.details__film-playing {
			place-self: center;
			position: relative;
			width: 100%;
			video {
				width: 100%;
			}
		}
	}
}
@media (max-width: 1200px) {
	.details {
		padding: $medium-section-padding;
		&-content {
			gap: 5rem;
			.details__title {
				font-size: $section-title-medium;
				padding: $medium-section-padding;
			}
			.details__rules {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 2rem;

				.details__rule {
					display: flex;
					align-items: center;
					gap: 2rem;

					&-circle {
						&--number {
							font-size: $section-title-medium;
						}
					}

					&-text {
						color: $color-white;
						h4 {
							font-size: 2rem;
						}
						p {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.details {
		&-content {
			display: flex;
			flex-direction: column;
			align-items: center;

			.details__rules {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 2rem;

				.details__rule {
					display: flex;
					align-items: center;
					gap: 2rem;

					&-circle {
						&--number {
							font-size: $section-title-medium;
						}
					}

					&-text {
						color: $color-white;
						h4 {
							font-size: $section-title-small;
						}
						p {
							font-size: $section-description-medium;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 576px) {
	.details {
		padding: $small-section-padding;
		&-content {
			.details__title {
				text-align: center;
				margin: 5rem 0 2rem 0;
				padding: 0;
				font-size: $section-title-small;
				text-shadow: $drop-shadow;
			}
			display: flex;
			flex-direction: column;
			align-items: center;
			.details__rules {
				gap: 2rem;

				.details__rule {
					gap: 2rem;

					&-circle {
						&--number {
							font-size: $section-title-small;
						}
					}

					&-text {
						color: $color-white;
						h4 {
							font-size: 2rem;
						}
						p {
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}
}

//section operations
.operations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: $large-section-padding;
	max-width: 1400px;
	&-content {
		display: flex;
		flex-direction: column;

		.operations-text {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			margin-bottom: 10rem;
			h4 {
				color: $color-blue-main;
				font-weight: $font-bold;
				font-size: $section-description-large;
			}
			h3 {
				font-weight: $font-bold;
				font-size: $section-title-large;
			}
		}
		.operations__tab-container {
			display: flex;
			justify-content: center;
			transform: translateY(50%);
			gap: 2rem;
			.operations__tab {
				color: white;
				font-size: 2.5rem;
				font-weight: $font-regular;
				padding: 0.5rem 1rem;
				border: none;
				border-radius: 18px;
				text-shadow: $drop-shadow;
				box-shadow: $drop-shadow;
				cursor: pointer;
				transition: 0.3s;
			}
			.operations__tab--1 {
				background-color: $color-button-primary;
			}
			.operations__tab--1:hover {
				background-color: $color-primary-hover;
			}
			.operations__tab--2 {
				background-color: $color-button-green;
			}
			.operations__tab--2:hover {
				background-color: #08af4e;
			}
			.operations__tab--3 {
				background-color: rgb(212, 209, 209);
			}
			.operations__tab--3:hover {
				background-color: rgb(156, 156, 156);
			}
			.operations__tab--active {
				transform: translateY(-50%);
			}
		}
		.operations__icon {
			position: relative;
			display: grid;
			place-items: center;
			place-self: center;
			grid-row: 1/3;
			width: 100%;
			max-width: 100px;

			border-radius: 50%;
			font-size: 3rem;
			color: white;
			text-align: center;
			aspect-ratio: 1 / 1;
			background-color: #2a2f99;
			box-shadow: $drop-shadow;
		}
		.operations__icon--1 {
			border: 5px solid $color-button-primary;
		}
		.operations__icon--2 {
			border: 5px solid $color-button-green;
		}
		.operations__icon--3 {
			border: 5px solid rgb(212, 209, 209);
		}
		.operations__box {
			display: none;
		}
		.operations__box--active {
			display: grid;
			grid-template-columns: 20% 1fr;
			grid-template-rows: auto auto;
			color: $color-white;
			text-align: justify;
			gap: 4rem;
			padding: 5rem;
			background: #1488cc;
			background: linear-gradient(to right, #2b32b2, #1488cc);
			box-shadow: $drop-shadow;
			border-radius: 18px;
			h5 {
				grid-column: 2/3;
				font-size: 2.5rem;
				text-shadow: $drop-shadow;
			}
			p {
				grid-column: 2/3;
				font-weight: $font-light;
				color: #a0b3e9;
				font-size: 1.8rem;
			}
		}
	}
}
@media (max-width: 992px) {
	.operations {
		padding: $medium-section-padding;
		&-content {
			.operations-text {
				h3 {
					font-size: $section-title-medium;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.operations {
		padding: $small-section-padding;
		&-content {
			.operations-text {
				gap: 2rem;
				margin: 8rem auto;
				text-align: center;

				h4 {
					color: $color-blue-main;
					font-weight: $font-bold;
					font-size: $section-description-large;
				}
				h3 {
					font-weight: $font-bold;
					font-size: $section-title-small;
				}
			}
			.operations__tab-container {
				display: flex;
				justify-content: center;
				transform: translateY(50%);
				gap: 2rem;
				.operations__tab {
					color: white;
					font-size: 1.8rem;
					padding: 0.5rem 1rem;
				}
			}
			.operations__icon {
				display: none;
			}
			.operations__box--active {
				padding: 2.5rem;
				width: 100%;
				gap: 2rem;

				h5 {
					grid-column: 1/3;
					margin-top: 5rem;
					font-size: $section-description-large;
					text-align: start;
				}
				p {
					grid-column: 1/3;
					font-weight: $font-light;
					color: #a0b3e9;
					font-size: 1.5rem;
				}
			}
		}
	}
}

//section slider
.slider {
	padding: $large-section-padding;
	@include section-wrapper;
	&-content {
		.slider-text {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			margin: 10rem 0;
			h4 {
				color: $color-blue-main;
				font-size: $section-description-large;
			}
			h3 {
				font-size: $section-title-large;
			}
		}
		.slider__box {
			position: relative;
			height: 50rem;
			margin: 0 auto;
			overflow: hidden;
			.slide {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				top: 0;
				width: 100%;
				height: 50rem;
				transition: transfrom 1s;
				.testimonial {
					width: 65%;
					position: relative;

					.testimonial__header {
						font-size: 2.25rem;
						font-weight: $font-bold;
						margin-bottom: 1.5rem;
					}
					.testimonial__text {
						font-size: 1.7rem;
						margin-bottom: 3.5rem;
						color: #666;
					}
					.testimonial__author {
						display: grid;
						margin-left: 3rem;
						grid-template-columns: 6.5rem 1fr;
						column-gap: 2rem;
						.testimonial__photo {
							grid-row: 1 / span 2;
							width: 6.5rem;
							border-radius: 50%;
						}
						.testimonial__name {
							font-size: 1.7rem;
							font-weight: 500;
							align-self: end;
							margin: 0;
						}

						.testimonial__location {
							font-size: 1.5rem;
						}
					}
				}
				.testimonial::before {
					content: '\201C';
					position: absolute;
					top: -5.7rem;
					left: -6.8rem;
					line-height: 1;
					font-size: 20rem;
					font-family: inherit;
					color: $color-button-primary;
					z-index: -1;
				}
			}
			.slider__btn {
				position: absolute;
				top: 50%;
				height: 5.5rem;
				font-size: 3.25rem;
				width: 5.5rem;
				border: none;
				border-radius: 50%;
				color: #333;
				background: $color-button-primary;
				box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.4);
				z-index: 10;
				cursor: pointer;
				transition: all 0.3s;
			}
			.slider__btn:hover {
				background-color: $color-primary-hover;
			}
			.slider__btn--left {
				left: 6%;
				transform: translate(-50%, -50%);
			}

			.slider__btn--right {
				right: 6%;
				transform: translate(50%, -50%);
			}
			.dots {
				display: flex;
				position: absolute;
				bottom: 5%;
				left: 50%;
				transform: translateX(-50%);
			}

			.dots__dot {
				height: 1rem;
				width: 1rem;
				border-radius: 50%;
				margin-right: 1.75rem;
				border: none;
				background-color: #888;
				box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
				opacity: 0.7;
				cursor: pointer;
				transition: all 0.5s;
			}

			.dots__dot:last-child {
				margin: 0;
			}

			.dots__dot--active {
				background-color: $color-button-primary;

				opacity: 1;
			}
		}
	}
}
@media (max-width: 992px) {
	.slider {
		padding: $medium-section-padding;
		&-content {
			.slider-text {
				gap: 2rem;

				h3 {
					font-size: $section-title-medium;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.slider {
		padding: 0;
		&-content {
			.slider-text {
				text-align: center;
				gap: 2rem;

				h3 {
					font-size: $section-title-small;
				}
			}
			.slider__box {
				.slide {
					.testimonial {
						width: 65%;
						position: relative;

						.testimonial__header {
							font-size: 1.5rem;
						}
						.testimonial__text {
							font-size: 1.4rem;
						}
					}
					.testimonial::before {
						top: -5.7rem;
						left: -5.8rem;
						font-size: 17rem;
						font-family: inherit;
						color: $color-button-primary;
						z-index: -1;
					}
				}
				.slider__btn {
					font-size: 2rem;
					width: 5.5rem;
					box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.4);
				}
				.slider__btn--left {
					left: 8%;
					transform: translate(-50%, -50%);
				}

				.slider__btn--right {
					right: 8%;
					transform: translate(50%, -50%);
				}
			}
		}
	}
}
